# Core LaTeX compilation artifacts
*.aux
*.bbl
*.bcf
*.blg
*.log
*.out
*.run.xml
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz
*.synctex.gz(busy)

# LaTeX automatic stuff
*.lof
*.lot
*.idx
*.ind
*.ilg
*.glg
*.glo
*.gls
*.ist
*.acn
*.acr
*.alg
